@model IEnumerable<AssignmentApp.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menuAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="menuAction">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ID">Edit</a></li>
                        <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.ID">Details</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.ID">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
